@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Raleway", "Sans serif";
    
}

body {
    margin: 0px;
    max-width: 1440px;
}

.header-img {
    display: flex;
    margin-left: 15px;
    margin-top: 22.5px;
}


/* menu de navigation */
.en-tete {
	display:block;
	justify-content: space-evenly;
}


.navmenu {
    display: flex;
    margin: 15px 0px 25px 0px;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
}

.divnav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.hebergement {
    color:#0065FC;
    text-decoration: none;
    width: 50%;
    border-bottom: 3px solid  #0065FC;
    padding: 15px;
}

.activites {
    width: 50%;
    color: black;
    text-decoration: none;
    padding: 15px;
    border-bottom: 3px solid #f2f2f2;
}

.signup {
    position: absolute;
    margin-left: -100px;
    left: 100%;
    top: 40px;
    color: #0065FC;
    font-weight: 700;
    text-decoration: none;
}

/* landing page */

.landing-page {
    margin-left: 6%;
}

.titre {
    font-size: 23px;
    display: block;
    margin-bottom: 12px;
    margin-right: 12%;
}

.search {
    margin-top: 25px;
    display: flex;
}

.map {
    background-color: #f2f2f2;
    height: 48px;
    width: 48px;
    text-align: center;
    margin-right: -5px;
    outline-style: none;
    border: none;
    border-radius: 15px 0 0 15px;
    font-size: 15px;
}

.text-search {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #F2F2F2;
    border-top: 3px solid #F2F2F2;
    height: 48px;
    width: 220px;
}

::placeholder {
    font-weight: bold;
    color: black;
    font-size:large;
    padding-left: 15px;
}

.button-search {
    background-color: #0065FC;
    border-radius: 15px;
    color: white;
    height: 48px;
    width: 48px;
    border-style: none;
    margin-left: -15px;
    font-size: 16px;
}

.filters-title {
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    width: calc(100% - 15px);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    margin: 1rem 0rem 1rem 0;
}

.filters-button {
    display: flex;
    border: 2px solid #d9d9d9;
    margin: 10px 10px 10px 10px;
    border-radius: 50px;
    align-items: center;
    width: fit-content;
    border-left: none;
    height: 44px;
}

.filters-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deeaf8;
    color: #0065FC;
    border-radius: 100%;
    margin-left: -10px;
    width: 44px;
    height: 44px;
    border: solid #deeaf8;
}

.filters-text {
    margin: 0 15px 0 15px;
    font-weight: bold;
    font-size: 15px;
}

.info {
    display: flex;
    align-items:flex-start;
    margin-right: 15px;
}

.info i {
    border-radius: 100%;
	border: 1px solid #d9dcdd;
	color: #0065FC;
	width: 25px;
	height: 25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.info p {
    margin-top: 20px;
}

/* les plus populaires */

.popular {
    display: block;
    background-color: #F2F2F2;
    padding: 10px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 15px 0px 10px;
}

.popular-title i {
    font-size: 25px;
}

.block {
    display:flex;
    width: auto; 
    background-color:white;
    margin: 15px;
    border: 5px  solid white;
    box-shadow:  0px 0px 10px  #d9d9d9;
    border-radius: 13px;
}

.block img {
    width:120px;
    height: 130px;
    border: 10px;
	object-fit: cover;
	border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
}

.text-block {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.text-block i {
    color: #0065FC;
    font-size: 12px;
    letter-spacing: -3px;
}

.text-block div {
    margin-top: 12px;
}

.text-block p {
    margin-top: 6px;
}

/* hébergement a marseille */

.hosting-marseille {
    display: block;
    justify-content: center;
}

.hosting-marseille-title {
    padding: 10px;
    margin-left: 15px;
    font-size: 15px;
}

.block2 {
    width: auto;
    background-color:white;
    margin: 15px 20px 5px 20px;
    border: 5px solid white;
    border-radius: 13px;
    box-shadow:  0px 0px 10px  #d9d9d9 ;
}

.block2 img {
    width:100%;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.block2-text {
    margin-left: 15px;
}

.block2-text p {
    margin: 4px 0;
}

.block2-text i {
    color: #0065FC;
    font-size: 12px;
    letter-spacing: -3px;
}

.show-more {
    margin: 25px 0 40px 15px;
    font-weight: bold;
}

/* activités à marseille */

.activity-marseille {
    display: block;
}

.activity-marseille h2 {
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
}

.block3 {
    width: auto;
    height: 150px;
    background-color: white;
    border-radius: 13px;
    box-shadow:  0px 0px 10px  #d9d9d9 ;
    margin: 25px 20px 5px 20px;
}

.block3 img {
    border-radius: 13px 13px 0 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.block3 p {
    margin: 10px 0 0 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.stars4 :nth-of-type(5) {
    color: #d9d9d9;
}

.stars3 :nth-of-type(4), .stars3 :nth-of-type(5) {
    color: #d9d9d9;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 25px;
    background-color: #F2F2F2;
    margin-top: 50px;

}

footer div {
    margin-right: 100px;
    text-decoration: none;
 }

footertext h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    line-height: 32px;
}

/* verison tablette */

@media screen and (max-width:900px) and (min-width:600px) {
    
    .filters-title {
        display: flex;
        margin-right: 15px;
    }

    .en-tete {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    .header-img {
        padding-top: 40px;
        margin-top: -40px;
    }

    .divnav {
        width: 100%;
        margin-top: 25px;
    }

    .navmenu {
        width: 300px;
    }

    .hebergement {
        border-top: 3px solid  #0065FC;
        border-bottom: none;
        padding-top: 38px;
        margin-top: -40px;
    }

    .activites {
        border-bottom: none;
        padding-top: 40px;
        margin-top: -40px;
    }

    .footer-div {
        margin-right: 70px;
    }

    footer {
        justify-content: space-around;
    }
}

@media screen and (max-width:1023px){
    .button-icon {
        display: block;
    }

    .button-text {
        display: none;
    }
}


@media screen and (max-width:1024px) and (min-width:901px) {

    .filters-title {
        display: flex;
        margin-right: 15px;
    }

    .en-tete {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    .header-img {
        padding-top: 40px;
        margin-top: -40px;
    }

    .divnav {
        width: 100%;
        margin-top: 25px;
    }

    .navmenu {
        width: 300px;
    }

    .hebergement {
        border-top: 3px solid  #0065FC;
        border-bottom: none;
        padding-top: 38px;
        margin-top: -40px;
    }

    .activites {
        border-bottom: none;
        padding-top: 40px;
        margin-top: -40px;
    }

    .footer-div {
        margin-right: 70px;
    }

    footer {
        justify-content: space-around;
    }

    .group {
        display: flex;
    }

    .popular {
        order: 1;
        border-radius: 25px;
        margin: 15px 15px 15px 0;
        height: 550px;
    }

    .block {
        height: 130px;
    }

    .block p {
        margin-top: 0px;
    }
    
    .hosting-marseille {
        background-color: #f2f2f2;
        border: 3px solid #f2f2f2;
        border-radius: 25px;
        margin: 15px;
        width: 85%;
        padding-top: 0px;
    }

    .hosting-marseille-title {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .block-marseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px 10px 10px 10px;
    }

    .block2 {
        width: 250px;
        margin: 10px 0px;
    }

    .block3 {
        width: 250px;
        text-align: center;
    }

    .block3 p {
        margin: 0px;
        margin-top: 10px;
    }

    .activity-marseille h2 {
        margin-left: 100px;
        text-align:start;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". . . .";
      }
      
    .big1 {
        height: auto;
        width: auto;
    }

    .big2 {
        height: auto;
        width: auto;
    }

    .big1 img {
        height: 85%;
    }

    .big2 img {
        height: 85%;
    }

}

@media screen and (min-width:1024px) {

    .filters-title {
        display: flex;
        margin-right: 15px;
        width: 80px;
    }

    .en-tete {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    .header-img {
        padding-top: 40px;
        margin-top: -40px;
    }

    .divnav {
        width: 100%;
        margin-top: 25px;
    }

    .navmenu {
        width: 300px;
    }

    .hebergement {
        border-top: 3px solid  #0065FC;
        border-bottom: none;
        padding-top: 38px;
        margin-top: -40px;
    }

    .activites {
        border-bottom: none;
        padding-top: 40px;
        margin-top: -40px;
    }

    .footer-div {
        margin-right: 100px;
        margin-left: 20px;
    }

    footer {
        justify-content: flex-start;
    }

    .landing-page {
        margin-left: 20px;
    }

    .group {
        display: flex;
    }

    .popular {
        order: 1;
        border-radius: 25px;
        margin: 15px 15px 15px 15px;
        height: 550px;
    }

    .block {
        height: 130px;
    }

    .block p {
        margin-top: 0px;
    }

    .text-block div {
        margin-top: 40px;
    }

    .popular-title h2 {
        margin-left: 10px;
    }
    
    .hosting-marseille {
        background-color: #f2f2f2;
        border: 3px solid #f2f2f2;
        border-radius: 25px;
        margin: 15px;
        width: 70%;
    }

    .hosting-marseille-title {
        margin-left: 10px;
    }

    .show-more {
        margin-top: 3px;
        margin-left: 40px;
    }
    
    .block-marseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
    }

    .block2 {
        width: 250px;
        margin: 10px 0px;
    }
    
    .button-icon {
        display: none;
    }

    .button-text {
        display: block;
        width: 110px;
        border-radius: 0 15px 15px 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". . . .";
      }
      
    .big1 {
        height: auto;
    }

    .big2 {
        height: auto;
    }

    .big1 img {
        height: 85%;
    }

    .big2 img {
        height: 85%;
    }
    
    .activity-marseille h2 {
        margin-left: 25px;
    }
      

}